@import "tailwindcss";

:root {
  /* Brand Colors */
  --color-primary: #064EA4;
  --color-primary-light: #D7E7FB;
  --color-accent-yellow: #FCDF69;
  --color-accent-orange: #F99D76; 
  --color-white: #FFFFFF;

  /* Text Colors */
  --text-primary: #1A1A1A;
  --text-secondary: #686868;
  --text-search: #25210E;
  --text-heading: #0E2152;
  --text-accent: #451B09;
  --text-on-dark: #FFFFFF;
  --placeholder-color: #626262;

  /* Background Colors */
  --background: var(--color-white);
  --background-light: var(--color-primary-light);
  --background-dark: var(--color-primary);
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



@layer utilities {
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }

  .animate-infinite-scroll {
    display: flex;
    animation: scroll 25s linear infinite;
  }

  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }

  }

  @keyframes marquee2 {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }

  }

  .animate-marquee {
    animation: marquee 25s linear infinite;
  }

  .animate-marquee2 {
    animation: marquee2 25s linear infinite;
  }

  
}


/* .animate-scroll:hover {
  animation-play-state: paused;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3rem;        /* 32px */
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 1.75rem;     /* 28px */
  font-weight: 600;
  line-height: 1.25;
}

h3 {
  font-size: 1.5rem;      /* 24px */
  font-weight: 600;
  line-height: 1.3;
}

h4 {
  font-size: 1.25rem;     /* 20px */
  /* font-weight: 500; */
}

h5 {
  font-size: 1.125rem;    /* 18px */
  /* font-weight: 500; */
}

h6 {
  font-size: 1rem;        /* 16px */
  /* font-weight: 500; */
}

#nav-icon {
  width: 40px;
  height: 25px;
  position: relative;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: var(--color-primary);
  border-radius: 5px;
  left: 0;
  transition: 0.25s ease-in-out;

  /* Important for smooth rotation */
  transform-origin: center;
  transform: rotate(0deg);
}

/* initial positions */
#nav-icon span:nth-child(1) {
  top: 0px;
}
#nav-icon span:nth-child(2), 
#nav-icon span:nth-child(3) {
  top: 10px;
}
#nav-icon span:nth-child(4) {
  top: 20px;
}

/* open animation */
#nav-icon.open span:nth-child(1),
#nav-icon.open span:nth-child(4) {
  width: 0%;
  left: 50%;
  top: 10px;
}

#nav-icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
}

/* Nav link base style */
.nav-link {
  @apply flex items-center gap-1 relative transition-colors duration-200 ease-in-out;
  color: var(--text-primary);
}

.nav-link:hover {
  color: var(--color-primary);;
}

.nav-link:active {
  color: #1d4ed8; /* Tailwind blue-700 */
}

/* Underline effect with ::before */
.nav-link::before {
  content: '';
  @apply absolute bottom-0 left-0 h-0.5 bg-(--color-primary) transition-all duration-200;
  width: 0;
}

.nav-link:hover::before {
  width: 100%;
}

.link-underline {
  position: relative;
  display: inline-block;
  color: var(--text-heading);
}

.link-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0;
  background-color: var(--text-heading);
  transition: width 0.3s ease-in-out;
}

.link-underline:hover::after {
  width: 100%;
}


.footer-link {
  position: relative;
  display: inline-block;
  color: white;
}

.footer-link span {
  position: relative;
  z-index: 1;
}

.footer-link span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.2s ease-in-out;
}

.footer-link span:hover::after {
  width: 100%;
}

.nav-link span:active {
  font-weight: bold;
}




